<div class="ui list">
  <h3 class="ui dividing header">Users</h3>
  {{#each userlist}}
    <div id="list{{email}}" class="item">
      <img class="ui avatar image" src="{{img}}"/>
      <div class="content">
        <a class="Header" href="/viewuser/{{email}}"> {{firstName}} {{lastName}}</a>
        <a class="description">{{email}}</a>
      </div>
    </div>
  {{/each}}
</div>
